<!DOCTYPE html>
<html>
<head>
    <title>Stats</title>
</head>
<body>

<h1>All URLs</h1>

<a href="{% url 'home' %}">← Back</a>

<table border="1" cellpadding="8">
    <tr>
        <th>Short Code</th>
        <th>Original URL</th>
        <th>Clicks</th>
        <th>Created</th>
    </tr>
    {% for url in urls %}
    {% if not url.is_expired %}
    <tr>
        <td>
            <a href="/{{ url.short_url }}">
                {{ url.short_url }}
            </a>
        </td>

        <td>
            <a href="{{ url.original_url }}" target="_blank">
                {{ url.original_url }}
            </a>
        </td>

            <td>{{ url.clicks }}</td>
            <td>{{ url.created_at|date:"d M Y H:i" }}</td>
        </tr>
        {% endif %}
    {% empty %}
    <tr>
        <td colspan="4">No URLs yet.</td>
    </tr>
    {% endfor %}

</table>

</body>
</html>